.yeah-text {
    font-size: 4rem;
    font-weight: bold;
    color: SlateBlue;
    margin: 10px;
}

.yeah-img {
    max-width: 50%;
    max-height: 50%;
    aspect-ratio: initial;
    animation: wobble 2s ease forwards;
}

.start-page-button-text {
    font-size: 20px;
    font-weight: bold;
}

@keyframes wobble {
    0% {
        transform: translateX(0%);
    }
    15% {
        transform: translateX(-25%) rotate(-5deg);
    }
    30% {
        transform: translateX(20%) rotate(3deg);
    }
    45% {
        transform: translateX(-15%) rotate(-3deg);
    }
    60% {
        transform: translateX(10%) rotate(2deg);
    }
    75% {
        transform: translateX(-5%) rotate(-1deg);
    }
    100% {
        transform: translateX(0%);
    }
}
