.roulette-page-wrapper {
    width: 100%;
    height: 100vh;
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
}

.headline {
    color: white;
}
