.error-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-text {
    font-size: 4rem;
    font-weight: bold;
    color: SlateBlue;
    margin: 10px;
}

.error-img {
    width: 50%;
    height: 50%;
}
